<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{post.userId}}</td>
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let postUser of postsUser">
      <td>{{postUser.userId}}</td>
      <td>{{postUser.id}}</td>
      <td>{{postUser.title}}</td>
      <td>{{postUser.body}}</td>
    </tr>
  </tbody>
</table>

<p>id: {{addPost?.id}}</p>
<p>user ID: {{addPost?.userId}}</p>
<p>title: {{addPost?.title}}</p>
<p>body: {{addPost?.body}}</p>

<p>id: {{updatePost?.id}}</p>
<p>user ID: {{updatePost?.userId}}</p>
<p>title: {{updatePost?.title}}</p>
<p>body: {{updatePost?.body}}</p>

<p>id: {{postPatch?.id}}</p>
<p>title: {{postPatch?.title}}</p>

<p>{{message}}</p>

