.add-post {
  position: fixed;
  right: 18rem;
  bottom: 6rem;
  z-index: 10;

  @media (max-width: 1024px) {
    right: 4rem;
    bottom: 2.2rem;
  }

  @media (max-width: 780px) {
    right: 3.5rem;
    bottom: 2.2rem;
  }

  @media (max-width: 426px) {
    right: 2rem;
    bottom: 0rem;
  }
}

.section-panel {
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.mat-icon-button.mat-button-base {
  position: absolute;
  right: 2.25rem;
  vertical-align: middle;
  z-index: 10;
  top: 30px;

  @media (max-width: 426px) {
    right: 0.5rem;
  }
}

mat-card {
  margin-top: 1rem;
  padding: 2.8rem 3.75rem;
}
