<h2>Postagens</h2>
<!-- <form #createPost="ngForm" (ngSubmit)="onSubmitCreate(createPost.value)">
  <input type="text" name="title" id="title" ngModel />
  <input type="text" name="body" id="body" ngModel />

  <button type="submit">Submit</button>
</form> -->
<button
  mat-fab
  color="primary"
  class="add-post"
  [ngClass]="{
    hidden: !isSelected,
    visible: isSelected
  }"
>
  <mat-icon>add</mat-icon>
</button>

<section class="section-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> <mat-icon>account_circle</mat-icon> </mat-panel-title>
      <mat-panel-description> Filtre as postagens </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-select
        [(ngModel)]="PostsUserId"
        (ngModelChange)="onUserSelected($event)"
      >
        <mat-option *ngFor="let user of users" [value]="user.id">{{
          user.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
</section>

<mat-list>
  <mat-card *ngFor="let post of postsUser">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-content> {{ post.body }}</mat-card-content>
    <button mat-mini-fab color="warn" (click)="deletePost(post)">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-card>
</mat-list>

<mat-list
  [ngClass]="{
    hidden: isSelected,
    visible: !isSelected
  }"
>
  <mat-card *ngFor="let post of posts">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-content> {{ post.body }}</mat-card-content>
    <button mat-mini-fab color="warn" (click)="deletePost(post)">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-card>
</mat-list>
