.mat {
  &-checkbox {
    display: block;
    line-height: 3rem;

    &-checked {
      text-decoration: line-through;
    }
  }

  &-card {
    width: 58%;
    margin: 2rem auto;
    font-size: 1.1rem;
    padding: 1.25rem 2.5rem;
  }

  &-form-field {
    width: 50%;
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

button.mat-menu-trigger.mat-icon-button.mat-button-base
{
  position: absolute;
  right: 2.25rem;
  vertical-align: middle;

  .more-icon {
    margin-bottom: 2.1875rem;
  }
}
