.mat {
  &-checkbox {
    display: block;
    line-height: 3rem;

    &-checked {
      text-decoration: line-through;
    }
  }

  &-card {
    width: 100%;
    margin: 2rem auto;
    font-size: 1.1rem;
    padding: 1.25rem 2.5rem;

    @media (max-width: 1024px) {
      padding: 1.25rem 1.5rem;
    }

    @media (min-width: 1700px) {
      width: 58%;
    }
  }

  &-form-field {
    width: 50%;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin-right: 1.25rem;
}

button.mat-icon-button.mat-button-base {
  position: absolute;
  right: 2.25rem;
  vertical-align: middle;

  @media (max-width: 426px) {
    right: 0.5rem;
  }

  .more-icon {
    margin-bottom: 2.1875rem;
  }
}

.add-task {
  position: fixed;
  right: 18rem;
  bottom: 6rem;
  z-index: 10;

  @media (max-width: 1024px) {
    right: 4rem;
    bottom: 2.2rem;
  }

  @media (max-width: 780px) {
    right: 3.5rem;
    bottom: 2.2rem;
  }

  @media (max-width: 426px) {
    right: 2rem;
    bottom: 0rem;
  }
}

h2 {
  @media (max-width: 1024px) {
    visibility: hidden;
  }
}
