<mat-form-field appearance="fill">
  <mat-label>Escolha uma Lista de Tarefas</mat-label>
  <mat-select
    [(ngModel)]="TasksUserId"
    (ngModelChange)="onUserSelected($event)"
  >
    <mat-option *ngFor="let user of users" [value]="user.id">{{
      user.name
    }}</mat-option>
  </mat-select>
</mat-form-field>

<section>
  <mat-checkbox
    *ngFor="let task of tasksUser"
    [(ngModel)]="task.completed"
    (click)="changeStatus(task)"
    >{{ task.id }} - {{ task.title }}
  </mat-checkbox>
</section>

<!-- <p>id: {{addTask?.id}}</p>
<p>user ID: {{addTask?.userId}}</p>
<p>title: {{addTask?.title}}</p>

<p>id: {{updateTask?.id}}</p>
<p>user ID: {{updateTask?.userId}}</p>
<p>title: {{updateTask?.title}}</p>

<p>{{message}}</p> -->

<p>id: {{taskPatch?.id}}</p>
<p>title: {{taskPatch?.title}}</p>
