.sidenav-container {
  height: 100%;
}

.container {
  margin: 3.75rem 7.5rem;
}

.sidenav {
  width: 12.5rem;

  .mat-toolbar {
    background-color: var(--dark-primary-color);
    color: white;
  }
}

.mat-toolbar {
  &.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

