/* You can add global styles to this file, and also import other style files */
:root {
  --dark-primary-color: #7531eb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat {
  &-form-field {
    width: 100%;
  }

  &-expansion-panel {
    width: 18rem;
  }

  &-checkbox-inner-container {
    margin-right: 20px !important;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.mat-checkbox-label {
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: 1025px) {
    max-width: 45rem;
  }

  @media (max-width: 1024px) {
    max-width: 23rem;
  }

  @media (max-width: 426px) {
    max-width: 12rem;
  }
}

.input-title {
  outline: none;
  border: none;
  border-bottom: 0.125rem solid var(--dark-primary-color);
  width: 100%;
  margin-bottom: 1rem;
  line-height: 1.5625rem;
}

.input-body {
  outline: none;
  border: 0.125rem solid var(--dark-primary-color);
  width: 100%;
  margin-bottom: 1rem;
  line-height: 1.5625rem;
  border-radius: 0.25rem;
}

.deleted, .uncompleted {
  color:white;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bolder;
}
