<section class="section-panel">
  <h2>Álbuns</h2>
  <div class="filters">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <mat-icon>account_circle</mat-icon> </mat-panel-title>
        <mat-panel-description> Autores</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Autores</mat-label>
        <mat-select
          [(ngModel)]="AlbumsUserId"
          (ngModelChange)="onUserSelected($event)"
        >
          <mat-option *ngFor="let user of users" [value]="user.id">{{
            user.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <mat-icon>photo_library</mat-icon> </mat-panel-title>
        <mat-panel-description> Álbuns</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Álbum</mat-label>
        <mat-select
          [(ngModel)]="AlbumId"
          (ngModelChange)="onAlbumSelected($event)"
        >
          <mat-option *ngFor="let album of albums" [value]="album.id">{{
            album.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </div>
</section>

<mat-grid-list
  cols="5"
  [ngClass]="{
    hidden: isSelected,
    visible: !isSelected
  }"
>
  <mat-grid-tile *ngFor="let album of albumsUser">{{
    album.title
  }}</mat-grid-tile>
</mat-grid-list>

<mat-grid-list
  cols="10"
  [ngClass]="{
    hidden: !isSelected,
    visible: isSelected
  }"
>
  <mat-grid-tile *ngFor="let photo of photosAlbum">
    <img src="{{ photo.thumbnailUrl }}" />
  </mat-grid-tile>
</mat-grid-list>
