<mat-form-field appearance="fill">
  <mat-label>Autores</mat-label>
  <mat-select
    [(ngModel)]="AlbumsUserId"
    (ngModelChange)="onUserSelected($event)"
  >
    <mat-option *ngFor="let user of users" [value]="user.id">{{
      user.name
    }}</mat-option>
  </mat-select>
</mat-form-field>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>ID</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let album of albumsUser">
      <td>{{ album.userId }}</td>
      <td>{{ album.id }}</td>
      <td>{{ album.title }}</td>
    </tr>
  </tbody>
</table>

<!-- <p>id: {{addAlbum?.id}}</p>
<p>user ID: {{addAlbum?.userId}}</p>
<p>title: {{addAlbum?.title}}</p>

<p>id: {{updateAlbum?.id}}</p>
<p>user ID: {{updateAlbum?.userId}}</p>
<p>title: {{updateAlbum?.title}}</p>

<p>id: {{albumPatch?.id}}</p>
<p>title: {{albumPatch?.title}}</p>

<p>{{message}}</p> -->
